<robot name="diningroom_table">
    <link name="diningroom_table">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="5.0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="package://mcr_gazebo_worlds/common/objects/models/diningroom_table.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" />
            <geometry>
                <mesh filename="package://mcr_gazebo_worlds/common/objects/models/diningroom_table.dae" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="diningroom_table">
        <material>Gazebo/Brown</material>
    </gazebo>
</robot>
